.jp-info {
    width: 280px;
    height: 367px;
    background-image: linear-gradient(180deg, white,rgb(187, 101, 236));
  }
  
td {
    padding-top: 30px;
}

label {
    font-style: italic;
}

input {
    word-wrap: break-word;
    word-break: break-all;
    border-style: none;
    width: 180px;
    font-size: 12px;
    border-radius: 5px;
    height: 25px;
}

