<mat-card class ="jp-info">
    <mat-card-title>Submitted Information</mat-card-title>
    <mat-card-content class="content">
        <table>
        <tr>
            <td>
                <label for="jobPos">Job Position:</label>
            </td>
            <td>
                <input type="text" value="{{form['jobPos']}}" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dept">Department:</label>
            </td>
            <td>
                <input type="text" value="{{form['dept']}}" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label for="salary">Salary:</label>
            </td>
            <td>
                <input type="text" value="{{form['salary']}}" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label for="wrkHrs">Working Hours:</label>
            </td>
            <td>
                <input type="text" value="{{form['wrkHrs']}}" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dayOff">Day Off: </label>
            </td>
            <td>
                <input type="text" value="{{form['dayOff']}}" readonly>
            </td>
        </tr>                                            
        </table>
    </mat-card-content>
</mat-card>