<div class="container"> 
    <mat-card class="uPInfo">
<table>
    <tr>
        <td>
            <app-user-profile-template (objVal)="getUserProf($event)"></app-user-profile-template>
        </td>
        <td>    
            <app-submitted-up [val]="val" *ngIf="upLength"></app-submitted-up>  
        </td>
    </tr>
    </table>
</mat-card>
<mat-card class="jPInfo">
    <table>
        <tr>
        <td>
            <app-job-profile-reactive (jobProfVal)="getJobProf($event)"></app-job-profile-reactive>
        </td>
        <td>
            <app-submitted-jp [form]="form" *ngIf="jpLength"></app-submitted-jp>
        </td>
    </tr>
</table>
</mat-card>
</div>


